.enterprise {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enterprise .enterprise-image{
    width: 60vw;
    height: 30rem;
}

.enterprise div{
    margin-top: 2rem;
    max-width: 80vw;
}

.enterprise div p{
    padding: 1.5rem;
}