.body-site{
    justify-content: flex-start;
}

.orderForm{
    display: flex;
    flex-direction: column;
    width: 900px;
    gap: 20px;
    background-color: #f9f9f9;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.orderForm input, 
.orderForm select,
.orderForm textarea{
    font-size: var(--average-font);
    margin: 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.orderForm .orderFormSaller div{
    display: flex;
    gap: 20px;
}

.orderForm .orderFormSaller select{
    max-width: 150px;
    cursor: pointer;
}
.orderForm .orderFormContact{
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
}
.orderForm .orderFormContact div{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.orderForm .orderFormContact .uf{
    width: 70px;
}

.orderForm .OrderFormProducts {

    max-width: 90%;
}
.orderForm .OrderFormProducts select, .orderForm .OrderFormProducts input{
margin-bottom: 12px;

}
.orderForm .OrderFormProducts th, .orderForm .OrderFormProducts td{
    padding-right: 10px;

}

.orderForm .OrderFormProducts th{
    text-align: left;
}


.orderForm .OrderFormProducts .selectOrderProduct select{
    max-width: 150px;
    cursor: pointer;
}

.orderForm .OrderFormProducts .selectOrderProduct td:nth-child(2) input{
    max-width: 300px;
}

.orderForm .OrderFormProducts .selectOrderProduct td:nth-child(3) input{
    max-width: 100px;
}

.orderForm .OrderFormProducts .selectOrderProduct td:nth-child(4) input{
    max-width: 20px;
}

.orderForm .OrderFormProducts .selectOrderProduct td:nth-child(5) input{
    max-width: 120px;
}

.orderForm .OrderFormProducts .selectOrderProductTotalValue {
display: flex;
justify-content: end;
margin-right: 85px;
}

.orderForm .OrderFormProducts .selectOrderProductTotalValue label{
    margin-right: 5px;
}
.orderForm .OrderFormProducts .selectOrderProductTotalValue input{
    max-width: 120px;
    margin-bottom: 0;
}

.orderForm .bottons .orderBottom{
    margin-left: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    text-align: center;
    cursor: pointer;
    transition: .2s;
}

.orderForm .bottons .orderBottom:hover{
    border: 1px solid black;
}



