*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

li, a{
    color: #000;
    text-decoration: none;
    list-style: none;
}
  
img{
    max-width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}